<table>
  <thead>
    <td>№</td>
    <td>Статус</td>
    <td>Срок</td>
    <td>Сумма заказа</td>
  </thead>
    <tr>
    <td>№</td>
    <td>Статус</td>
    <td>Срок</td>
    <td>Сумма заказа</td>
  </tr>
</table>